<%- include('top'); -%>
<div class="body">
    <div class="container">
        <p class="title">About Me</p>
        <div class="abt-me">
            <p>Hey, I'm Aditya a passionate developer based in India with 2 years of backend development experience and
                1 year of frontend development. I also work with javascript libraries like node js react js discord js
                and many more. I have used other languages like Python in my older project. I mainly use EJS for
                frontend development. My coding knowledge is years of trying and working. My most recent project is
                secrets.</p>
        </div>
    </div>
</div>
<%- include('bottom'); -%>



<!-- Hey Im Aditha a passionate developer based in india with 2 years of backend development experirence and 1 year of frontedn devlopment. I also work with javascript libraries like node js react js discord js and many more. I have used other languages like python in my older project. I mainly use EJS for frontend devlopment. My coding knowledge is basically years of trying and working. my most recent project is secrets. -->