<div class="footer">
    <div class="copyright">
        <div class="copyright-text">
            <p> © regex <p id="year"></p>
            </p>
        </div>
    </div>

    <div class="links">
        <ul>
            <li>
                <div class="tooltip"><i class="fab fa-discord"></i><span class="tooltiptext">regex#9222</span></div>
            </li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="far fa-envelope"></i></li>
        </ul>
    </div>
</div>

</body>
<script src="/js/small-stuff.js"></script>

</html>