<%- include('top'); -%>
<div class="body">
    <div class="container">
        <p class="title">Contact Me</p>
        <div class="abt-me">

            <p>
                <div class="tooltip cntc"><i style="color: #ECB365; text-decoration: none;" class="fab fa-discord"></i><span  class="tooltiptext">regex#9222</span></div>
                <a href="https://www.instagram.com/regex777/" class="mail cntc"><i class="fab fa-instagram"></i></a></i>
                <a href="mailto:hmmho705@gmail.com" class="mail cntc"><i class="far fa-envelope"></i></a>
            </p>
        </div>
    </div>
</div>
<%- include('bottom'); -%>