<%- include('top'); -%>
    <!-- body start -->
    <div class="body">
        <div class="head typing-demo">
            <p class="main-text">I'm Aditya</p>
            <p class="main-tagline">and I'm a web developer</p>
        </div>
    </div> <!-- body end -->

<%- include('bottom'); -%>   