<%- include('top'); -%>
<div class="body">
    <div class="projects-card">
        <div class="card">
            <div class="title">
                <!-- <p class="c-title">
                    Title 1
                </p>
                <p class="c-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p> -->
            </div>
        </div>
        <div class="card">
            <div class="title">
                <!-- <p class="c-title">
                    Title 2
                </p>
                <p class="c-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p> -->
            </div>
        </div>
        <div class="card">
            <div class="title">
                <!-- <p class="c-title">
                    Title 3
                </p>
                <p class="c-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p> -->
            </div>
        </div>
        <div class="card">
            <div class="title">
                <!-- <p class="c-title">
                    Title 4
                </p>
                <p class="c-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p> -->
            </div>
        </div>
    </div>
    <div class="bg-text">
        <p>Coming Soon...</p>
    </div>
</div>

<%- include('bottom'); -%>