<%- include('top'); -%>
<div class="body">
    <div class="projects-card">
        <div class="card">
            <div class="title">
                <p class="c-title">
                    Title 1
                </p>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <p class="c-title">
                    Title 2
                </p>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <p class="c-title">
                    Title 3
                </p>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <p class="c-title">
                    Title 4
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('bottom'); -%>