@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

/* https://colorhunt.co/palette/041c3204293a064663ecb365 */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #04293A;
}

.main-text {
    /* text-align: center; */
    /* font-size: 70px; */
    font-family: 'Anonymous Pro', monospace;
    /* color: #ECB365; */
    position: relative;
    top: 50%;
    color: #ECB365;
    /* width: 24em; */
    margin: 0 auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.copyright-text p {
    font-size: 20px;
    color: #064663;
}

.container {
    /* display: flex;
    /* align-items: center; */
    /* justify-content: center;  */
    height: 80%;
    width: 55%;
    background-color: #064663;
    border-radius: 4px;
    text-align: center;
}

.container p {
    padding: 10% 10% 0 10%;
    font-family: 'Anonymous Pro', monospace;
    /* font-size: x-large; */
    color: #ECB365;
}

.text {
    margin: 0 100px 0 100px;
    font-size: 20px;
}

.title {
    font-size: 70px;
}

.footer {
    margin: 0 70px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anonymous Pro', monospace;
}

.body {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.cntc {
    font-size: 20px;
    padding: 0 2% 0 2%;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* transition: all 0.4s; */

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.links {
    float: right;
    font-size: 17px;
    font-family: 'Anonymous Pro', monospace;
    color: #ECB365;
}

.links ul li:hover {
    cursor: pointer;
}

.mail {
    text-decoration: none;
    color: #ECB365;
}

.brand {
    float: left;
    transform: rotate(90deg);
    font-size: 30px;
}

.bg-text {
    font-family: 'Anonymous Pro', monospace;
    color: #ECB365;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.projects-card {
    filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 70%;
    background-color: #064663;
    border-radius: 4px;
}

nav ul li a {
    display: inline-block;
}

.main-tagline {
    text-align: center;
}

.copyright-text {
    font-size: 40px;
    float: left;
}

.card {
    text-align: center;
    background-color: #041C32;
    width: 20%;
    height: 40%;
    margin: 0 1% 0 1%;
    border-radius: 4px;
    color: #ECB365;
}

.c-title {
    font-family: 'Anonymous Pro', monospace;
    color: #e6dcd0;
    font-weight: 900;
}

.card p {
    padding: 3% 5% 3% 5%;

}

.nav-link {
    color: #ECB365;
    text-decoration: none;
}

.links ul li {
    padding: 0 5px 0 5px;
    display: inline-block;
}

.navbar {
    margin: 0 70px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ECB365;
}

.nav {
    color: #ECB365;
    background-color: #041C32;
    /* height: 100px; */
}






.typing-demo {
    width: 22ch;
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}










/* media-queries */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #064663;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


@media only screen and (max-width: 535px){
    .title{
        font-size: 60px;
    }
}

@media only screen and (max-width: 535px){
    .container{
        width: 70%;
    }
}
@media only screen and (max-width: 335px){
    .container{
        height: 90%;
    }
    .title{
        font-size: 40px;
    }
}
@media only screen and (max-width: 280px){
    .abt-me{
        font-size: 15px;
    }
    .footer{
        margin: 0 30px 0 30px;
    }
}

@media only screen and (max-width: 262px){
    .title{
        font-size: 30px;
    }
}

@media only screen and (max-width: 247px){
    .navbar{
        margin: 0 50px 0 50px;
    }
    .footer{
        margin: 0 5px 0 5px;
    }
}